<h2>Edit Plot Point</h2>
<form class="form-horizontal" role="form">
	{{error}}
	{{text-field property=model.name label="Name"}}
	{{text-area property=model.description label="Description"}}
	<div class="col-sm-offset-5 col-sm-2">
		<button {{action 'save'}} class="btn btn-primary">Save</button>
		<button {{action 'cancel'}} class="btn btn-default">Cancel</button>
	</div>
	<h1>Rules</h1>
		<h2>Setting Rules</h2>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.bloodAndGuts}} Blood & Guts
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.bornAhero}} Born a Hero
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.criticalFailures}} Critical Failures
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.fanatics}} Fanatics
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.grittyDamage}} Gritty Damage
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.heroesNeverDie}} Heroes Never Die
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.highAdventure}} High Adventure
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.jokersWild}} Joker's Wild
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.multipleLanguages}} Multiple Languages
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.noPowerPoints}} No Power Points
			</label>
		</div>
		<div class="checkbox">
			<label>
				{{input type="checkbox" checked=model.skillSpecialization}} Skill Specialization
			</label>
		</div>
		<h2>Character Creation Rules</h2>
	<h1>Races</h1>
		{{two-column-picker 
			available=controller.standardRaces 
			selected=controller.model.races 
			action="addRace"}}
	<h1>Archetypes</h1>
		{{two-column-picker 
			available=controller.standardArchetypes
			selected=controller.model.archetypes
			action="addArchetype"}}
	<h1>Skills</h1>
		{{two-column-picker 
			available=controller.standardSkills 
			selected=controller.model.skills
			action="addSkill"}}
	<h1>Hindrances</h1>
		{{two-column-picker 
			available=controller.standardHindrances 
			selected=controller.model.hindrances
			action="addHindrance"}}
	<h1>Edges</h1>
		{{two-column-picker 
			available=controller.standardEdges 
			selected=controller.model.edges
			action="addEdge"}}
	<h1>Powers</h1>
		{{two-column-picker 
			available=controller.standardPowers
			selected=controller.model.powers
			action="addPower"}}
	<h1>Gear</h1>
		{{two-column-picker 
			available=controller.standardGear
			selected=controller.model.gear
			action="addGear"}}
	<h1>Places</h1>
		{{two-column-picker 
			available=controller.standardPlaces
			selected=controller.model.places
			action="addPlace"}}
	<h1>NPC's</h1>
		<h2>Wild Cards</h2>
		{{#link-to 'characters.add' model class="btn btn-default"}}New Character{{/link-to}}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Type</th>
					<th>Name</th>
					<th>Rank</th>
				</tr>
			</thead>
			<tbody>
				{{#each character in model.characters}}
					<tr>
						<td>{{character.type}}</td>
						<td>{{character.name}}</td>
						<td>{{character.rank}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<h2>Extras</h1>
		{{two-column-picker 
			available=controller.standardExtras
			selected=controller.model.extras
			action="addExtra"}}
	
	<h1>Bestiary</h1>
		{{two-column-picker 
			available=controller.standardBeasts
			selected=controller.model.beasts
			action="addBeast"}}
			
</form>