<div class="container">
  <div class="page-header">
    <h1>{{model.name}}</h1>
  </div>
  <h2>Rules</h2>
  <ul class="list-group">
    {{#each rule in model.settingRules}}
      <li class="list-group-item">{{rule.name}}</li>
    {{/each}}
  </ul>
  <h2>Skills</h2>
  <ul class="list-group">
    {{#each skill in model.skillDescriptions}}
      <li class="list-group-item">{{skill.name}}({{skill.attribute}})</li>
    {{/each}}
  </ul>
  <h2>Hindrances</h2>
  <ul class="list-group">
    {{#each hindrance in model.hindrances}}
      <li class="list-group-item">{{hindrance.name}}</li>
    {{/each}}
  </ul>
  <h2>Edges</h2>
  <ul class="list-group">
    {{#each edge in model.edges}}
      <li class="list-group-item">{{edge.name}}</li>
    {{/each}}
  </ul>

  <h2>gear</h2>
  <ul class="list-group">
    {{#each gear in model.gear}}
      <li class="list-group-item">{{gear.name}}</li>
    {{/each}}
  </ul>
</div>
