{{error}}
{{text-field property=model.name label="Name"}}
{{text-area property=model.description label="Description"}}

<h1>Rules</h1>
<h2>Setting Rules</h2>
{{boolean-field label="Blood & Guts" property=model.bloodAndGuts}}
{{boolean-field label="Born a Hero" property=model.bornAHero}}
{{boolean-field label="Critical Failures" property=model.criticalFailures}}
{{boolean-field label="Fanatics" property=model.fanatics}}
{{boolean-field label="Gritty Damage" property=model.grittyDamage}}
{{boolean-field label="Heroes Never Die" property=model.heroesNeverDie}}
{{boolean-field label="High Adventure" property=model.highAdventure}}
{{boolean-field label="Joker's Wild" property=model.jokersWild}}
{{boolean-field label="Multiple Languages" property=model.multipleLanguages}}
{{boolean-field label="No Power Points" property=model.noPowerPoints}}
{{boolean-field label="Skill Specialization" property=model.skillSpecialization}}
<h2>Character Creation Rules</h2>
{{numeric-field property=model.startingAttributePoints label="Starting Attribute Points"}}
{{numeric-field property=model.startingSkillPoints label="Starting Skill Points"}}
{{numeric-field property=model.startingMajorHindrances label="Starting Major Hindrances"}}
{{numeric-field property=model.startingMinorHindrances label="Starting Minor Hindrances"}}
{{numeric-field property=model.startingCash label="Starting Cash"}}

{{#unless model.isNew}}
	<h1>Races</h1>
	{{render "races.index" model.races}}
	<h1>Archetypes</h1>
	{{render "archetypes.index" model.archetypes}}
	<h1>Skills</h1>
	{{render "skills.index" model.skillDescriptions}}
	<h1>Hindrances</h1>
	{{render "hindrances.index" model.hindrances}}
	<h1>Edges</h1>
	{{render "edges.index" model.edges}}
	<h1>Powers</h1>
	{{render "powers.index" model.powers}}
	<h1>Gear</h1>
	{{render "gears.index" model.gears}}
	<h1>Places</h1>
	<h1>NPC's</h1>
	<h2>Wild Cards</h2>
	{{#link-to 'characters.add' model class="btn btn-default"}}New Character{{/link-to}}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Type</th>
				<th>Name</th>
				<th>Rank</th>
			</tr>
		</thead>
		<tbody>
			{{#each character in model.characters}}
				<tr>
					<td>{{character.type}}</td>
					<td>{{character.name}}</td>
					<td>{{character.rank}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
	<h2>Extras</h1>
	<h1>Bestiary</h1>
{{/unless}}
<div class="col-md-offset-5 col-sm-2">
<button {{action 'save'}} class="btn btn-primary">Save</button>
<button {{action 'cancel'}} class="btn btn-default">Cancel</button>
</div>	
